Allow group ${group_name} to manage tag-namespaces in tenancy
Allow group ${group_name} to manage tagdefinitions in tenancy
Allow group ${group_name} to manage tag-defaults in tenancy
Allow group ${group_name} to manage all-resources in compartment ${compartment_name}