Allow group ${group_name} to inspect tag-namespaces in tenancy
Allow group ${group_name} to inspect tagdefinitions in tenancy
Allow group ${group_name} to inspect tag-defaults in tenancy
Allow group ${group_name} to manage all-resources in compartment ${compartment_name}