Allow group ${group_name} to read tag-namespaces in tenancy
Allow group ${group_name} to read tagdefinitions in tenancy
Allow group ${group_name} to read tag-defaults in tenancy
Allow group ${group_name} to manage all-resources in compartment ${compartment_name}